.moviesList{
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}
.allMovies {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 25px 0;
    background-color: #fcfcfc;
}

.movie {
    width: 255px;
    height: 400px;
    margin: 20px;
    /* opacity: 0.9;
    transition: 0.5s linear; */
    cursor: pointer;
}
/* .movie:hover{
    transform: scale(1.1);
    opacity: 1;
} */
.moviesList img {
    width: 255px;
    height: 365px;
    padding: 0;
}

.movieName {
    font-size: 14.5px;
    width: 80%;
    font-weight: bold;
    text-transform: uppercase;
}

.movieYear {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    width: 50px;
    height: 20px;
    border: 1px solid black;
    font-weight: bolder;
}

.movieRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movieGenre {
    display: flex;
    justify-content: flex-start;
    font-weight: normal;
}