* {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1500px;
    height: 7744px;
    display: flex;
    flex-direction: column;
    font-family: 'Paragon', arial;
}

.main1 {
    max-width: inherit;
    height: 668px;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    text-transform: uppercase;
}

.filter {
    max-width: inherit;
    height: inherit;
    background-size: 100% auto;
    background-color: rgba(48, 50, 99, 0.67);
}

.big-font {
    padding-top: 195px;
    letter-spacing: 4px;
    font-weight: bold;
    color: white;
}

.medium-font {
    padding-top: 70px;
    font-size: 15px;
    letter-spacing: 5px;
    line-height: 30px;
    color: white;
}

.blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 40px;
    color: white;
}

.main1__block {
    height: 160px;
    max-width: 250px;
}

fieldset {
    height: 160px;
    width: 250px;
    border: 2px solid white;
    border-radius: 5px;
}

.numbers {
    font-size: 60px;
    letter-spacing: 10px;
}

.words {
    font-size: 15px;
}

nav ul {
    display: flex;
    width: inherit;
    height: 80px;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    font-size: 20px;
    font-weight: bold;
}

nav ul a {
    text-decoration: none;
    margin-right: 75px;
    color: black;
}

nav a:hover {
    color: #f6ae48;
}

.line {
    width: inherit;
    height: 2px;
    background-color: #adadad;
}

.studio {
    width: inherit;
    height: 420px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back__words {
    color: rgba(193, 193, 193, 0.19);
    font-size: 270px;
    position: absolute;
    z-index: 0;
}

.main__words {
    display: flex;
    align-items: center;
}

.studio__words, .studio__text {
    color: black;
    z-index: 1;
}

.studio__words {
    font-size: 30px;
    margin-right: 200px;
    margin-left: 120px;
}

.studio__text {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 35px;
}

.information {
    width: inherit;
    height: 475px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 25px;
    /* border: 1px solid greenyellow;*/
}

.information__block {
    height: inherit;
    width: 380px;
}

.information__h1 {
    font-size: 20px;
    line-height: 50px;
}

.information__h2 {
    font-size: 15px;
    line-height: 25px;
}

.information__button {
    color: white;
    height: 20px;
    width: 100px;
    border: 2px solid white;
    border-radius: 2px;
    margin-top: 10px;
    text-align: center;
}

.information a {
    text-decoration: none;
    font-family: 'Paragon', arial;
    color: black;
}

.arrow {
    position: relative;
    top: -25px;
    left: 309px;
    height: 23px;
    width: 23px;
}

.information a:hover {
    color: white;
    background-color: #f6ae48;
}

.information__block__text {
    padding: 25px;
}

.credo {
    max-width: 1500px;
    height: 463px;
    background-image: url(img/bg2.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% auto;
}

.big-font.credo-font {
    text-transform: uppercase;
    padding-top: 110px;
}

.development {
    height: 420px;
    width: 534px;
    background-image: url(img/setting.png);
    position: relative;
    top: -60px;
}

.development-font {
    font-family: 'Paragon', arial;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: -160px;
}

.various {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 325px;
    width: inherit;
    z-index: 2;
    margin-top: -310px;
}

.various__image {
    height: 252px;
    width: 293px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0px 10px;
    color: white;
}

.various a {
    text-decoration: none;
}

.filter-small {
    background-color: rgba(0, 0, 0, 0.69);
    background-size: 100% auto;
    max-width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    font-family: 'Paragon', arial;
    font-size: 40px;
    text-transform: uppercase;
}

.line-small {
    width: 80%;
    height: 1px;
    background-color: white;
}

.various__image__1 {
    background-image: url(img/lp1.jpg);
}

.various__image__2 {
    background-image: url(img/lp2.jpg);
}

.various__image__3 {
    background-image: url(img/lp3.jpg);
}

.various__button {
    height: 40px;
    width: 125px;
    border: 2px solid white;
    font-size: 15px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;

}
.various__content{
    margin-left: 20px;
}

.arrow1 {
    position: relative;
    top: -50px;
    left: 245px;
    height: 23px;
    width: 23px;
}
.various__content.various__content__1{
    line-height: 90px;
}
.various__button.various__button__1{
    border: 2px solid #00b9e7;
}
.various__button.various__button__2{
    border: 2px solid #ffcb00;
}
.various__button.various__button__3{
    border: 2px solid #66bf0d;
}