* {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 1500px;
    height: 6314px;
    display: flex;
    flex-direction: column;
    font-family: 'Paragon', arial;
}

.main1 {
    max-width: inherit;
    height: 668px;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    text-transform: uppercase;
}

.filter {
    max-width: inherit;
    height: inherit;
    background-size: 100% auto;
    background-color: rgba(48, 50, 99, 0.67);
}

.big-font {
    padding-top: 195px;
    letter-spacing: 4px;
    font-weight: bold;
    color: white;
}

.medium-font {
    padding-top: 70px;
    font-size: 15px;
    letter-spacing: 5px;
    line-height: 30px;
    color: white;
}

.blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 40px;
    color: white;
}

.main1__block {
    height: 160px;
    max-width: 250px;
}

fieldset {
    height: 160px;
    width: 250px;
    border: 2px solid white;
    border-radius: 5px;
}

.numbers {
    font-size: 60px;
    letter-spacing: 10px;
}

.words {
    font-size: 15px;
}

nav ul {
    display: flex;
    width: inherit;
    height: 80px;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    font-size: 20px;
    font-weight: bold;
}

nav ul a {
    text-decoration: none;
    margin-right: 75px;
    color: black;
}

nav a:hover {
    color: #f6ae48;
}

.line {
    width: inherit;
    height: 2px;
    background-color: #adadad;
}

.studio {
    width: inherit;
    height: 420px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back__words {
    color: rgba(193, 193, 193, 0.19);
    font-size: 270px;
    position: absolute;
    z-index: 0;
}

.main__words {
    display: flex;
    align-items: center;
}

.studio__words, .studio__text {
    color: black;
    z-index: 1;
}

.studio__words {
    font-size: 30px;
    margin-right: 200px;
    margin-left: 120px;
}

.studio__text {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 35px;
}

.information {
    width: inherit;
    height: 475px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 25px;
    /* border: 1px solid greenyellow;*/
}

.information__block {
    height: inherit;
    width: 380px;
}

.information__h1 {
    font-size: 20px;
    line-height: 50px;
}

.information__h2 {
    font-size: 15px;
    line-height: 25px;
}

.information__button {
    color: white;
    height: 20px;
    width: 100px;
    border: 2px solid white;
    border-radius: 2px;
    margin-top: 10px;
    text-align: center;
}

.information a {
    text-decoration: none;
    font-family: 'Paragon', arial;
    color: black;
}

.arrow {
    position: relative;
    top: -25px;
    left: 309px;
    height: 23px;
    width: 23px;
}

.information a:hover {
    color: white;
    background-color: #f6ae48;
}

.information__block__text {
    padding: 25px;
}

.credo {
    max-width: 1500px;
    height: 463px;
    background-image: url(img/bg2.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% auto;
}

.big-font.credo-font {
    text-transform: uppercase;
    padding-top: 110px;
}

.development {
    height: 420px;
    width: 534px;
    background-image: url(img/setting.png);
    position: relative;
    top: -60px;
}

.development-font {
    font-family: 'Paragon', arial;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: -160px;
}

.various {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 325px;
    width: inherit;
    z-index: 2;
    margin-top: -310px;
    /* border: 1px solid green; */
}

.various__image {
    height: 252px;
    width: 293px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 0px 10px;
    color: white;
}

.various a {
    text-decoration: none;
}

.filter-small {
    background-color: rgba(0, 0, 0, 0.69);
    background-size: 100% auto;
    max-width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    font-family: 'Paragon', arial;
    font-size: 40px;
    text-transform: uppercase;
}

.line-small {
    width: 80%;
    height: 1px;
    background-color: white;
}

.various__image__1 {
    background-image: url(img/lp1.jpg);
}

.various__image__2 {
    background-image: url(img/lp2.jpg);
}

.various__image__3 {
    background-image: url(img/lp3.jpg);
}

.various__button {
    height: 40px;
    width: 125px;
    border: 2px solid white;
    font-size: 15px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.various__content {
    margin-left: 20px;
}

.arrow1 {
    position: relative;
    top: -50px;
    left: 245px;
    height: 23px;
    width: 23px;
}

.various__content.various__content__1 {
    line-height: 90px;
}

.various__button.various__button__1 {
    border: 2px solid #00b9e7;
}

.various__button.various__button__2 {
    border: 2px solid #ffcb00;
}

.various__button.various__button__3 {
    border: 2px solid #66bf0d;
}

.search {
    width: inherit;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.search__column {
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.all__text {
    padding: 85px;
}

.search__shadow {
    color: rgba(193, 193, 193, 0.19);
    font-size: 65px;
    position: relative;
    z-index: -1;
    text-transform: uppercase;
    top: 190px;
    left: 70px;
    max-width: 500px;
    font-weight: bold;
}

.search__text {
    text-transform: uppercase;
    font-size: 25px;
    line-height: 60px;
}

.search__text-small {
    font-size: 15px;
    line-height: 45px;
    letter-spacing: 1px;
}

.yandex {
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.5));
}

.search__column img {
    margin: 15px 0px;
}

.ourProjects, .more {
    max-width: inherit;
    height: 95px;
    background-color: #303263;
}

.ourProjects__text-big {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.34);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85px;
}

.ourProjects__text-small {
    text-transform: uppercase;
    color: white;
    z-index: 0;
    top: -70px;
    position: relative;
    text-align: center;
    font-size: 40px;
}

.projects {
    max-width: inherit;
    height: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.big-img {
    width: 50%;
}

.small-img {
    width: 25%;
}

.big-img.img-1 {
    background-image: url(img/projects1.jpg);
    background-repeat: no-repeat;
}

.big-img.img-2 {
    background-image: url(img/projects2.jpg);
    background-repeat: no-repeat;
}

.small-img.img-3 {
    background-image: url(img/projects3.jpg);
    background-repeat: no-repeat;
}

.small-img.img-4 {
    background-image: url(img/projects4.jpg);
    background-repeat: no-repeat;
}

.small-img.img-5 {
    background-image: url(img/projects5.jpg);
    background-repeat: no-repeat;
}

.small-img.img-6 {
    background-image: url(img/projects6.jpg);
    background-repeat: no-repeat;
}

.picture {
    height: 340px;
    width: 100%;
}

.picture-small {
    height: 262px;
    width: 100%;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more__one {
    height: 65px;
    width: 240px;
    background-color: #6a6b8e;
    border-radius: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.more a {
    text-decoration: none;
}

.adaptive {
    max-width: inherit;
    height: 620px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search__column.gadjets {
    display: inherit;
    flex-direction: inherit;
    justify-content: space-between;
    align-items: center;
}

.iphone {
    padding-top: 165px;
}

.ipad {
    padding-top: 70px;
}

.tradein {
    max-width: inherit;
    height: 545px;
    background-image: url(img/trade-in.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
}

.tradein .filter {
    background-color: rgba(0, 0, 0, 0.52);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tradein .filter .big-font {
    padding-top: 0px;
    padding-bottom: 435px;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
}

.tradein__column {
    padding: 60px;
}

.tradein__heading {
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
    align-items: center;
    line-height: 80px;
}

.tradein__text {
    font-size: 15px;
    font-weight: initial;
    line-height: 25px;
}

.estimate {
    background-color: #f6ae48;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    height: 55px;
    width: 265px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -140px;
    position: absolute;
    top: -40px;
}

.tradein .filter a {
    text-decoration: none;
    top: 5150px;
    position: absolute;
}

.tradein__heading img {
    margin-right: 15px;
    width: 45px;
}

.care {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.search__shadow.careful {
    top: 150px;
}

.contactus {
    max-width: inherit;
    height: 460px;
    background-image: url(img/bg\ form.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
}

.contactus .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.contactus__text {
    line-height: 30px;
}


.search__column p {
    padding-top: 1px;
    padding-left: 1px;
}

input.text {
    width: 124%;
    height: 1.5rem;
    padding:.75em;
    border: 0;
}
textarea.text2{
    width: 124%;
    height: 6rem;
    font-family: sans-serif;
    border: 0;
    padding:.75em;
}
.input__call{
    height: 40px;
    width: 130px;
    background-color: #f6ae48;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    /* outline: 0 !important; */
    border: 0;
}



footer {
    height: 90px;
    width: inherit;
    background-color: #f6ae48;
}