.thirdComponent{
    width: 500px;
    height: 300px;
    background-color:#B3DBF2;
    display: flex;
    flex-direction: column;
}
.deliveryTime{
    width: 150px;
    height: 70px;
    border: 0;
    margin: 10px;
}
.deliveryDate{
    width: 150px;
    margin: 10px;
}